#stopButton {
	-fx-border-color: #966464;
	-fx-border-radius: 5;
	-fx-background-color: #C49696;
	-fx-padding: 3 6 6 6;
}

#startButton {
	-fx-border-color: #649664;
	-fx-border-radius: 5;
	-fx-background-color: #96C496;
	-fx-padding: 3 6 6 6;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
    -fx-background-color: black;
}